.mainbody {
  display: flex;
  height: calc(100vh);
  width: calc(100vw);
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(10, 30, 30, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;

  .sidebar {
    width: 20%;
    height: 100%;
    background-color: #e3eaf2;
    padding: 16px;
    box-sizing: border-box;
    border-right: 1px solid #d1dce5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .content {
    width: 80%;
    height: 100%;
    background-color: #fffffd;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #d1dce5;
    border-radius: 20px;
  }
}
